body {background-color: cyan;}

.superbox {
  position: relative;
  resize: vertical;
  overflow: auto;
}

.loginbox {
  margin: 0px auto;
  width: 60%;
  border: 3px solid #000000;
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  padding: 10px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
  background-color: white;
}

.copybox {
  position: absolute right;
  bottom: 0;
  text-align: right;
  font-size: 13px;
}

a {
  color: blue;
}

input { border: 1px solid #000000; 
  text-align: center;
}
